<div id="announcements-container" class="">
  <div id="announcement" class="">
    <span id="announcement-severity" class="">
      <div id="severity-icon" class=""></div>
      Info
    </span>
    <span id="announcement-message" class="">
      blah blah
    </span>
  </div>
</div>
<script type="module" src="/js/announcements.js" fetchPriority="high"></script>
