<div id="announcements-container" class="w-full fixed mb-10 top-0 z-50" style="display: none;">
  <div id="announcement" class="flex flex-column items-center justify-between px-4 py-2 bg-blue-600 text-white">
    <span id="announcement-title" class="flex items-center font-semibold text-lg">
      <span id="severity-icon" class="mr-2"></span>
      title test
    </span>
    <span id="announcement-message" class="text-md text-gray-200">
      blah blah
    </span>
  </div>
</div>
<script type="module" src="/js/min/announcements.min.js" fetchPriority="high"></script>
