<div id="context-menu-container" class="pointer-events-auto fixed z-50 h-fit min-w-40 select-none rounded-xl border border-white/20 bg-black/80 p-2 text-white shadow-lg backdrop-blur-md" hidden></div>
