<div id="settings" class="p-0 m-0 z-50">
  <div id="settings-container" class="fixed bottom-2 left-2 backdrop-blur-md shadow-lg text-white rounded-xl border border-white/20 hover:bg-gray-800 transition-colors duration-300">
    <button id="settings-button" class="flex items-center justify-center px-5 py-4 text-2xl">
      ⓘ
    </button>
  </div>
</div>
<script type="module" src="/js/min/settings.min.js" fetchPriority="high"></script>