<div id="settings" class="fixed z-50 m-0 p-0">
  <div class="fixed bottom-0 left-0 z-50 m-3 rounded-xl border border-white/20 p-0 shadow-lg backdrop-blur-md">
    <button id="settings-button" class="items-center justify-center p-4 text-2xl text-white">ⓘ</button>
  </div>
</div>
<div id="settings-container" class="bg-black-05 fixed z-50 hidden h-auto w-auto items-center justify-center rounded-xl border border-white/20 p-12 shadow-lg backdrop-blur-md sm:w-full md:max-w-fit">
  <h2 id="subtitle" class="mb-6 text-center text-2xl font-light capitalize text-white sm:mb-8">Settings</h2>
  <div id="bg-color_container" class="flex-column mb-4 flex gap-2">
    <span class="text-white">Background Color:</span>
    <select id="bg_color" class="bg-black-05 rounded-md border border-white/20 p-2"></select>
  </div>
  <div id="button-transitions_container" class="flex-column mb-4 flex gap-2">
    <span class="text-white">Button Transitions:</span>
    <input type="radio" id="transitions-button" name="button_transitions" value="true" checked />
  </div>
</div>
<script defer type="module" src="/js/min/settings.min.js" fetchpriority="high"></script>
