node_modules/
logs/
*.log
npm-debug.log*
pids/
*.pid
*.seed
*.pid.lock
.env
.env.local
.env.*.local
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
debug.log
dist/*
cache/
ecosystem.config.js
.env
package-lock.json