<div id="bg" class="pointer-events-none fixed left-0 top-0 z-0 h-full max-h-full w-full max-w-full select-none" aria-hidden="true">
  <img id="bg-img" src="/svg/bg.svg" alt="Background" class="z-0 h-full w-full object-cover opacity-25 invert" />
</div>
