@import url('https://cdn.mcalec.dev/web/css/font/roboto.min.css');
:root {
  --primary-font: RobotoRegular, Arial, sans-serif;
  --secondary-font: RobotoThin, Arial, sans-serif;
  --tertiary-font: RobotoMedium, Arial, sans-serif;

  --primary-color: #121212;
  --secondary-color: #1e1e1e;
  --tertiary-color: #2d2d2d;

  --primary-border-color: #404040;
  --secondary-border-color: #666666;
  --tertiary-border-color: #888888;

  --primary-text-color: #ffffff;
  --secondary-text-color: #bbbbbb;
  --tertiary-text-color: #999999;

  --background-color: #121212;

  --border-radius: 0;
  --box-shadow: 0;
}
b {
  font-family: RobotoBold, Arial, sans-serif;
  font-weight: bold;
}
i {
  font-family: RobotoRegularItalic, Arial, sans-serif;
  font-style: italic;
}
