.file-item img {
  image-rendering: auto;
}

/* File Icon Styles */
.file-icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #66b3ff;
}
.grid-view .file-icon svg {
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  fill: currentColor;
  transform: translate(-50%, -75%);
}
.file-icon.directory {
  color: #66b3ff;
  stroke: #66b3ff;
}
.file-icon.audio {
  color: #cc8323;
  stroke: #cc8323;
}
.file-icon.image {
  color: #2AA198;
  stroke: #2AA198;
}
.file-icon.text {
  color: #7A869A;
  stroke: #7A869A;
}
.file-icon.video {
  color: #6C5CE7;
  stroke: #6C5CE7;
}
.file-icon.other {
  color: #95A5A6;
  stroke: #95A5A6;
}

/* Image Preview Styles */
.popup-image.zoomed {
  width: 100%;
  height: 100%;
  object-fit: contain;
  touch-action: none;
  will-change: transform;
}