/* no scrollbars */
html, body {
  scrollbar-width: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

/* lexend */
@font-face {
  font-family: lexend;
  src: url("/font/Lexend.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
}

/* montserrat */
@font-face {
  font-family: montserrat;
  src: url("/font/Montserrat.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: montserrat;
  src: url("/font/Montserrat-Italic.ttf") format('truetype');
  font-style: italic;
  font-display: swap;
}

/* OpenSans */
@font-face {
  font-family: opensans;
  src: url("/font/OpenSans.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: opensans;
  src: url("/font/OpenSans-Italic.ttf") format('truetype');
  font-style: italic;
  font-display: swap;
}

/* Roboto */
@font-face {
  font-family: roboto;
  src: url("/font/roboto.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url("/font/Roboto-Italic.ttf") format('truetype');
  font-style: italic;
  font-display: swap;
}

/* UbuntuSans */
@font-face {
  font-family: ubuntusans;
  src: url("/font/Roboto.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: ubuntusans;
  src: url("/font/Roboto-Italic.ttf") format('truetype');
  font-style: italic;
  font-display: swap;
}
