---
function currentPage() {
  let currentPath = Astro.url.pathname.replaceAll('/', '')
  if (currentPath === '') return 'home'
  return currentPath
}
import FilesScript from '../components/filesScript.astro'
---
<!doctype html>
<html lang="en">
  <head>
    <slot name="Head" />
  </head>
  <body class="relative flex min-h-screen items-center justify-center bg-black">
    <slot name="Navbar" />
    <slot name="Settings" />
    <slot name="Viewer" />
    <slot name="Context" />
    <slot />
    <div id="container" class="z-10 mx-auto mb-[6vh] mt-[12vh] rounded-xl border border-white/20 p-4 shadow-2xl backdrop-blur-md sm:w-full sm:p-8 md:w-full md:p-8 lg:max-w-[65%]">
      <h1 id="title" class="mb-6 text-center text-3xl font-light capitalize text-white sm:mb-8">
        {currentPage()}
      </h1>
      <div id="file-browser" class="file-browser w-full">
        <div id="sort-toolbar" class="mb-4 bg-black/80 flex flex-wrap sm:flex-row-2 gap-3 rounded-xl border border-white/20 p-3" hidden></div>
        <div id="file-list" class="masonry-grid">
          <div class="loading fixed left-1/2 top-1/2 min-w-[180px] max-w-[320px] p-4 bg-black/80 select-none rounded-xl text-white border border-white/20 text-center transform -translate-x-1/2 -translate-y-1/2 z-50 cursor-not-allowed">
            Loading...
          </div>
        </div>
      </div>
    </div>
    <FilesScript />
    <slot name="Background" />
  </body>
</html>